---
import { Profile } from "../../../components/utility/Profiledash";
import DashLayout from "../../../layouts/DashLayout.astro";
---

<DashLayout>
  <div class="flex justify-center pt-10">
      <div class="w-3/5">
        <Profile client:load />
      </div>
    </div>
    <hr class="w-3/5 mx-auto mt-6 h-1 border-0 bg-gradient-to-r from-black via-white to-black shadow-md shadow-gray-400 rounded-full">
    <div class="text-center mt-4">
      <h2 class="text-black font-bold text-xl">
        My Reports
      </h2>
    </div>
</DashLayout>