---
import { Images } from "../constants.astro";
import { AdminAction } from "./AdminAction";
---

<header
    class="z-50 fixed bg-gray-100 top-0 border-b-2 border-gray-400/20 px-5 py-2 w-screen flex items-center flex-row justify-between shadow-xl shadow-gray-300"
>
    <a href="/dashboard" class="w-fit h-full">
        <img
            src={Images.curaj_full_logo.src}
            alt="Logo"
            class="h-16 w-auto phone:h-auto phone:w-40"
        />
    </a>
    <div>
        <h1></h1>
    </div>
    <div class="flex flex-row gap-2 items-center" id="actions">
        <div class="font-bold tablet:hidden">
            <AdminAction/>
        </div>
        <div id="">
            <div class="hidden tablet:flex">
                <button id="toggle-btn" class="size-11 relative">
                    <img
                        src={Images.menubarToggle.src}
                        class="h-10 hover:bg-gray-300 active:bg-gray-400 p-2 rounded-md
                        hover:rotate-180 active:rotate-180 transition-all duration-400"
                        alt="line-width"
                    />
                </button>
            </div>
        </div>
    </div>
</header>
<script>
    //Set bottom margin to parent So next sibling get upper margin
    const header = document.getElementsByTagName("header");

    document.addEventListener("DOMContentLoaded", () => {
        const parentChild = document.getElementById("header-container");
        parentChild
            ? (parentChild.style.height = `${header[0].offsetHeight + 2}px`)
            : null;
    });
    document.addEventListener("resize", () => {
        const parentChild = document.getElementById("header-container");
        parentChild
            ? (parentChild.style.height = `${header[0].offsetHeight + 2}px`)
            : null;
    });
    function ToggleSideBar() {
        let sidebarBox = document.getElementById("sidebarBox");
        let mainElement = document.getElementsByTagName("main")[0];

        if (sidebarBox) {
            if (sidebarBox.classList.contains("hidden")) {
                sidebarBox.classList.remove("hidden");
                mainElement.style.opacity = "0.2";
            } else {
                sidebarBox.classList.add("hidden");
                mainElement.style.opacity = "1";
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        let toggleBtn = document.getElementById("toggle-btn");
        toggleBtn ? toggleBtn?.addEventListener("click", ToggleSideBar) : null;
    });
</script>
<script>
    window.location.href.includes("auth") || window.location.pathname == "/"
        ? document.getElementById("actions")?.classList.add("hidden")
        : null;
</script>
