---
import { NavActions } from "./NavActions";
import { Profile } from "./utility/Profile";
const { routes } = Astro.props;
---

<!-- Sidebar -->
<div
    id="sidebar"
    class="transition-all phone:z-50 duration-1000 fixed h-screen w-72 bg-slate-200 border-r border-gray-300 text-gray-800 flex-col p-4 shadow-lg top-16 left-0 z-40"
>
    <div class="border-b-[1px] border-black">
        <Profile client:load />
    </div>
    <div class="font-bold">
        <NavActions routes={routes} class="" client:load />
    </div>
</div>
