---
import {
  Input,
  Button,
  Button_Link,
  Line,
} from "../../components/utility/Utility";
import AuthLayout from "../../layouts/AuthLayout.astro";
---

<AuthLayout>
  <div class="flex flex-col gap-2">
    <div class="flex flex-nowrap gap-5 flex-col">
      <div class="py-3">
        <h1 class="text-black font-bold text-3xl">
          <center> Registration </center>
        </h1>
      </div>
      <Line />
      <form action="" class="flex flex-col gap-5">
        <Input label="Username" placeholder="Username" />
        <Input label="Enrollment" placeholder="Enrollment" />
        <Input label="Password" placeholder="Password" />
        <div class="w-full">
          {
            /* <p class="text-center text-red-600">
              Invalid Email
            </p> */
          }
          <p class="text-center text-green-600">Registration Success !!</p>
        </div>
        <div class="flex w-full justify-center">
          <Button type="submit">Submit</Button>
        </div>
      </form>
      <Line />
      <div class="w-full flex items-center justify-center">
        <div class="flex flex-row gap-5 flex-wrap justify-evenly w-full">
          <Button_Link to="/auth" class="bg-green-500">Login</Button_Link>
          <Button_Link class="bg-gray-400 text-black border-0 border-black"
            >Forget Password</Button_Link
          >
        </div>
      </div>
    </div>
  </div>
</AuthLayout>
