---
import AuthLayout from "../../layouts/AuthLayout.astro";
import ResetPasswordComponent from "../../blocks/ResetPass";
---

<AuthLayout>
    <div>
        <div class="flex flex-nowrap gap-5 flex-col">
            <div class="py-3">
                <h1 class="text-black font-bold text-2xl">
                    <center> Reset Password </center>
                </h1>
            </div>
            <hr />
            <div class="w-full">
               <ResetPasswordComponent client:load></ResetPasswordComponent>
            </div>
        </div>
    </div>
</AuthLayout>
