---
import {
    Loader,
    Input,
    Button,
    Button_Link,
    Line,
} from "../../components/utility/Utility";
import AuthLayout from "../../layouts/AuthLayout.astro";
---

<AuthLayout>
    <div>
        <div class="flex flex-nowrap gap-5 flex-col">
            <div class="py-3">
                <h1 class="text-black font-bold text-2xl">
                    <center> Reset Password </center>
                </h1>
            </div>
            <Line />
            <form action="" class="flex flex-col gap-5">
                <Input
                    label="Enrollment Number"
                    placeholder="Enrollment Number"
                    text="@curaj.ac.in"
                />
                <Input
                className=""
                    label="New Password"
                    placeholder="New Password"
                    type="password"
                />
                <div class="flex w-full justify-center">
                    <Button className="" type="submit">Submit</Button>
                </div>
            </form>
            <Line />
            <div class="w-full flex items-center justify-center">
                <div
                    class="flex flex-row gap-5 flex-wrap justify-evenly w-full"
                >
                    <Button_Link
                        to="/auth/register"
                        className="bg-green-500 hover:bg-green-300"
                        >Register</Button_Link
                    >
                    <Button_Link
                        to="/auth/reset-password"
                        className="bg-gray-400 text-nowrap text-black border-0 border-black hover:bg-gray-300"
                        >Forget Password</Button_Link
                    >
                </div>
            </div>
        </div>
    </div>
</AuthLayout>
