---
import DashLayout from "../../layouts/DashLayout.astro";
---

<DashLayout>
    <div class="h-screen flex justify-center flex-col items-center"> 
        <h1>Welcome to Dashboard</h1>    
        <a class="text-blue-500" href="/dashboard/reports"> Go To reports </a>
    </div>
</DashLayout>
