---
import { UserProfile } from "../../blocks/Profile";
import DashLayout from "../../layouts/DashLayout.astro";
---

<DashLayout>
  <div class="w-full">
    <UserProfile client:only />
  </div>
</DashLayout>
