---
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
import { Loader } from "../components/utility/Loader";
import { Images } from "../constants.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/src/assets/logo.jpg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href={Images.curaj_logo.src} type="image/x-icon">

    <title>Lost & Found - CURAJ</title>
  </head>
  <body class="relative flex flex-col h-screen">
    <div
      class="w-screen h-screen justify-center items-center hidden"
      id="loader-container"
    >
      <Loader />
    </div>
    <div id="container" class="flex flex-col">
      <div class="w-screen" id="header-container">
        <Nav />
      </div>
      <div class="flex flex-row relative">
        <div
          class="hidden desktop:!hidden flex-row absolute transition-all duration-700 ease-linear phone:z-50 h-full pt-20"
          id="sidebarBox"
        >
          <Sidebar class="" />
        </div>
        <main
          class="phone:w-screen desktop:!opacity-100 w-full phone:!ml-0 phone:z-20"
          id="main-container"
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<script>
  import { navigate } from "astro:transitions/client";
  import { setUserLogin, setUserInfo, logout, getStoreData } from "../store";
  import { UserAPI } from "../APIs/users/usersAPI";
  const user = getStoreData();

  let loaderDiv = document.getElementById("loader-container");
  let container = document.getElementById("container");

  if (!user.isUserLogged || !user.loggedUser) {
    navigate("/auth");
    // container?.classList.add("hidden");
    // loaderDiv?.classList.add("flex");
    // UserAPI(null, "/getuser")
    //   .then((res) => {
    //     if (res.status) {
    //       setUserLogin(true);
    //       setUserInfo(res.data);
    //       container?.classList.remove("hidden");
    //       loaderDiv?.classList.add("hidden");
    //     } else {
    //       logout();
    //       navigate("/auth");
    //     }
    //   })
    //   .catch((error) => {
    //     console.log(error);
    //     logout();
    //     navigate("/auth");
    //   });
  }
</script>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Cabin", "Poppins", "monospace";
  }
</style>
