---
import { Image } from "astro:assets";
import { Images } from "../constants.astro";
---

<header
  id="header"
  class="bg-gray-100 top-0 border-b-2 border-gray-400/20 p-2 fixed w-screen flex items-center flex-row justify-between shadow-xl shadow-gray-300"
>
  <div class="w-full h-full">
    <Image
      src={Images.curaj_full_logo}
      alt="Logo"
      class="h-16 w-auto phone:h-auto phone:w-40"
    />
  </div>
  <div></div>
  <div class="font-bold">
    <div>
      <slot />
    </div>
  </div>

  <script>
    let headerHeight = document.getElementById("header")?.offsetHeight;
    let afterHeader = document.getElementsByTagName('main')[0];

    console.log(afterHeader, headerHeight);
    if (afterHeader) {
      afterHeader.style.marginTop = `${(headerHeight||0)+5}px`;
    }
  </script>
</header>
