---
import { Images } from "../constants.astro";
import { Button } from "./utility/Button";
import { getStoreData } from "../store";
import { logoutUser } from "../APIs/auth/logout";
import { NavActions } from "./NavActions";
const store = getStoreData();
const user = store.loggedUser;
---

<header
    class="z-50 fixed bg-gray-100 top-0 border-b-2 border-gray-400/20 px-5 py-2 w-screen flex items-center flex-row justify-between shadow-xl shadow-gray-300"
>
    <div class="w-full h-full">
        <img
            src={Images.curaj_full_logo.src}
            alt="Logo"
            class="h-16 w-auto phone:h-auto phone:w-40"
        />
    </div>
    <div>
        <h1></h1>
    </div>
    <div class="flex flex-row gap-2 items-center" id="actions">
        <div class="font-bold">
            <NavActions client:load />
        </div>
        <div id="">
            <div class="hidden phone:flex">
                <button
                    id="toggle-btn"
                    class="hidden phone:flex size-11 relative"
                >
                    <img
                        src={Images.menubarToggle.src}
                        class="h-10"
                        alt="line-width"
                    />
                </button>
            </div>
        </div>
    </div>
</header>
<script>
    function ToggleSideBar() {
        let sidebarBox = document.getElementById("sidebarBox");
        let mainElement = document.getElementsByTagName("main")[0];

        if (sidebarBox) {
            if (sidebarBox.classList.contains("phone:hidden")) {
                sidebarBox.classList.remove("phone:hidden");
                mainElement.style.opacity = "0.2";
            } else {
                sidebarBox.classList.add("phone:hidden");
                mainElement.style.opacity = "1";
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        let toggleBtn = document.getElementById("toggle-btn");
        toggleBtn ? toggleBtn?.addEventListener("click", ToggleSideBar) : null;
    });
</script>
<script>
    window.location.href.includes("auth") || window.location.pathname == "/"
        ? document.getElementById("actions")?.classList.add("hidden")
        : null;
</script>
