---
import { Image } from "astro:assets";
import curajLogo from "../assets/curaj-logo.png";
import { Images } from "../constants.astro";
import Navbar from "./Navbar";
import Header from "./Header.astro";
---

<!-- Sidebar -->
<div class="flex">
    <div
        id="sidebar"
        class="hidden md:flex h-screen w-72 bg-slate-200 border-r border-gray-300 text-gray-800 flex-col p-4 shadow-lg fixed top-0 left-0 z-20"
    >
        <div class="flex items-center justify-between mb-6">
            <Image src={curajLogo} alt="Logo" class="h-12 w-auto" />
            <button
                id="close-btn"
                class="md:hidden text-gray-800 focus:outline-none"
            >
                <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <nav class="mt-6 flex flex-col gap-4">
            <a
                href="/dashboard"
                class="flex items-center px-4 py-3 w-full bg-slate-200 rounded-lg hover:bg-slate-300 transition text-gray-800 text-lg font-medium"
            >
                <img
                    src="https://getdrawings.com/free-icon-bw/adwords-icon-10.png"
                    alt="Dashboard Icon"
                    class="h-6 w-6 mr-3"
                />
                Dashboard
            </a>
            <a
                href="/dashboard/add"
                class="flex items-center px-4 py-3 w-full bg-slate-200 rounded-lg hover:bg-slate-300 transition text-gray-800 text-lg font-medium"
            >
                <img
                    src="https://cdn-icons-png.flaticon.com/512/2798/2798102.png"
                    alt="Report Icon"
                    class="h-6 w-6 mr-3"
                />
                Add Report
            </a>
        </nav>
    </div>
    <div class="md:ml-72  flex flex-col">
        <Header>
            <Navbar client:only />
        </Header>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuBtn = document.getElementById("menu-btn");
        const closeBtn = document.getElementById("close-btn");
        const sidebar = document.getElementById("sidebar");

        if (menuBtn && sidebar) {
            menuBtn.addEventListener("click", () => {
                sidebar.classList.toggle("hidden");
            });
        }

        if (closeBtn && sidebar) {
            closeBtn.addEventListener("click", () => {
                sidebar.classList.add("hidden");
            });
        }
    });
</script>
