<div
  class="h-screen w-80 bg-gray-100 border-b-2 text-gray-800 flex flex-col p-4 shadow-2xl"
>
  <div class="mt-32"></div>
  <nav class="space-y-5">
    <a
      href="/dashboard"
      class="flex items-center px-4 py-2 bg-gray-100 rounded-lg hover:bg-gray-200 transition text-gray-800 text-xl"
    >
      <img
        src="https://getdrawings.com/free-icon-bw/adwords-icon-10.png"
        alt="Dashboard Icon"
        class="h-8 w-8 mr-3"
      />
      Dashboard
    </a>
    <button
      class="flex items-center w-full px-4 py-2 bg-white-500 text-gray-800 rounded-lg hover:bg-gray-200 transition text-xl"
      onclick="location.href='/report';"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/2798/2798102.png"
        alt="Report Icon"
        class="h-8 w-8 mr-3"
      />
      Add Report
    </button>
  </nav>
</div>
