---
import StatsDashboard from "../../components/utility/Statsdashboard";
import { Images } from "../../constants.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout>
  <div
    class="flex flex-col items-center justify-center bg-white text-gray-800 text-center px-4 sm:px-6 lg:px-8"
  >
    <div class="w-full mt-8">
      <StatsDashboard client:only />
      <!-- <h1>Welcome Admin Portal</h1> -->
      <hr />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
      <a
        href="/admin/users"
        class="bg-gradient-to-r from-blue-500 to-blue-700 rounded-lg p-6 shadow-lg transform transition-transform hover:scale-105"
      >
        <div class="flex justify-center">
          <img class="w-16 h-16" src={Images.usersIcon.src} alt="Users Icon" />
        </div>
        <hr class="my-4 border-gray-300" />
        <div class="text-center">
          <h1 class="text-white font-extrabold text-xl">Users List</h1>
        </div>
      </a>
      <a
        href="/admin/complaints"
        class="bg-gradient-to-r from-green-500 to-green-700 rounded-lg p-6 shadow-lg transform transition-transform hover:scale-105"
      >
        <div class="flex justify-center">
          <img
            class="w-16 h-16"
            src={Images.feedbackform.src}
            alt="Complaints Icon"
          />
        </div>
        <hr class="my-4 border-gray-300" />
        <div class="text-center">
          <h1 class="text-white font-extrabold text-xl">Complaints List</h1>
        </div>
      </a>
      <a
        href="/admin/admins"
        class="bg-gradient-to-r from-purple-500 to-purple-700 rounded-lg p-6 shadow-lg transform transition-transform hover:scale-105"
      >
        <div class="flex justify-center">
          <img class="w-16 h-16" src={Images.admin.src} alt="Admin Icon" />
        </div>
        <hr class="my-4 border-gray-300" />
        <div class="text-center">
          <h1 class="text-white font-extrabold text-xl">Admin List</h1>
        </div>
      </a>
    </div>
  </div>
</AdminLayout>
